<article class='doc'>
  <header>
    <h1 class='page'>{{{page.title}}}</h1>
    {{{page.contents.cta}}}
  </header>
  {{#if (eq (site-profile) 'jp' )}}
  <div class='panel single-panel'>
    {{{page.contents.popular-topics}}}
  </div>
  {{else}}
  <div class='panels'>
    {{#if preview}}
      {{> contributor-signatures}}
    {{else}}
      {{> latest-releases}}
    {{/if}}
    {{> trending-topics}}
  </div>
  {{/if}}
  {{{page.contents.the-road}}}
</article>