<article class='doc'>
  <header>
    <h1 class='page'>{{{page.title}}}</h1>
    {{{page.contents.cta}}}
  </header>
  <div class='panels'>
    {{> latest-releases}}
    <div class='panel'>
      {{{page.contents.popular-topics}}}
    </div>
  </div>
  {{{page.contents.the-road}}}
  <footer>
    {{{page.contents.more-resources}}}
  </footer>
</article>