<section class="connectors-popular">
  <header class="header-connectors-title">Popular Connectors</header>
  <div class="flex popular-cards">
    {{#each (array 'salesforce' 'sap' 'amazon-s3') as |connector|}}
    {{#if (lookup site.components (concat connector '-connector'))}}
    {{#with (lookup site.components (concat connector '-connector'))}}
    {{#with latest.asciidocConfig.attributes as |attrs|}}
    <a class="card" href="{{relativize url}}">
      <img src="{{@root.uiRootPath}}/img/icons/connectors/icon-{{attrs.page-vendor-name}}.svg" alt="{{{attrs.page-vendor-title}}} Logo" class="card-img" width="71" height="50">
      <div>
        <div class="card-title">{{{attrs.page-vendor-title}}}</div>
        <div class="card-description">{{{attrs.page-component-desc}}}</div>
      </div>
    </a>
    {{/with}}
    {{/with}}
    {{else}}
    <a class="card" href="#">
      <img src="{{@root.uiRootPath}}/img/icons/connectors/icon-{{connector}}.svg" alt="{{connector}} Logo" class="card-img" width="71" height="50">
      <div>
        <div class="card-title">{{connector}}</div>
        <div class="card-description">Description of {{connector}} connector goes here.</div>
      </div>
    </a>
    {{/if}}
    {{/each}}
  </div>
  <div class="flex flex-wrap">
    {{#each (array 'netsuite' 'workday' 'dynamics365' 'kafka' 'servicenow' 'mongodb' 'box' 'redis') as |connector|}}
    {{#if (lookup site.components (concat connector '-connector'))}}
    {{#with (lookup site.components (concat connector '-connector'))}}
    <a class="featured-link" href="{{relativize url}}">
      <img src="{{@root.uiRootPath}}/img/logos/{{connector}}.png" alt="{{{delete-suffix title ' Connector'}}}" class="featured-img">
      {{{delete-suffix title ' Connector'}}}
      <svg class="icon icon-md icon-forward-arrow"><use xlink:href="#icon-forward-arrow"></svg>
    </a>
    {{/with}}
    {{else}}
    <a class="featured-link" href="#">
      <img src="{{@root.uiRootPath}}/img/logos/{{connector}}.png" alt="{{connector}}" class="featured-img">
      {{connector}}
      <svg class="icon icon-md icon-forward-arrow"><use xlink:href="#icon-forward-arrow"></svg>
    </a>
    {{/if}}
    {{/each}}
  </div>
</section>
