{{#if page.attributes.notice-banner-message}}
<div class="notice-banner">
  <button class="notice-banner-close-button" title="Close notice banner">&times;</button>
  <p>{{page.attributes.notice-banner-message}}</p>
</div>
{{else if (or page.componentVersion.asciidoc.attributes.supportStatus page.attributes.support-status)}} 
{{#switch (or page.componentVersion.asciidoc.attributes.supportStatus page.attributes.support-status)}}
{{#case 'old'}} {{> banner-for-old}} {{/case}}
{{#case 'noLongerUpdated'}} {{> banner-for-no-longer-updated}} {{/case}}
{{#case 'extendedSupport'}} {{> banner-for-extended-support}} {{/case}}
{{#case 'extendedSupportFeature'}} {{> banner-for-extended-support-feature}} {{/case}}
{{#case 'extendedSupportVersion'}} {{> banner-for-extended-support-version}} {{/case}}
{{#case 'eolSupport'}} {{> banner-for-eol-support}} {{/case}}
{{#case 'eolSupportFeature'}} {{> banner-for-eol-support-feature}} {{/case}}
{{#case 'eolSupportVersion'}} {{> banner-for-eol-support-version}} {{/case}}
{{#case 'eolScheduled'}} {{> banner-for-eol-scheduled}} {{/case}}
{{#case 'eolScheduledFeature'}} {{> banner-for-eol-scheduled-feature}} {{/case}}
{{#case 'eolScheduledVersion'}} {{> banner-for-eol-scheduled-version}} {{/case}}
{{#case 'eol'}} {{> banner-for-eol}} {{/case}}
{{#case 'eolFeature'}} {{> banner-for-eol-feature}} {{/case}}
{{#case 'eolVersion'}} {{> banner-for-eol-version}} {{/case}}
{{/switch}}
{{else if (or
page.componentVersion.asciidoc.attributes.endOfLife (or
page.componentVersion.asciidoc.attributes.endOfLifeScheduled (or
page.componentVersion.asciidoc.attributes.extendedSupport (or
page.componentVersion.asciidoc.attributes.noLongerUpdated page.componentVersion.asciidoc.attributes.olderVersion
))))
}}
{{#if page.componentVersion.asciidoc.attributes.endOfLife}}
{{> banner-for-eol}}
{{else if page.componentVersion.asciidoc.attributes.endOfLifeScheduled}}
{{> banner-for-eol-scheduled}}
{{else if page.componentVersion.asciidoc.attributes.extendedSupport}}
{{> banner-for-extended-support}}
{{else if page.componentVersion.asciidoc.attributes.olderVersion}}
{{> banner-for-old}}
{{else}}
{{> banner-for-no-longer-updated}}
{{/if}}
{{/if}}