<div class="deprecation-notice">
  <p>We are no longer updating this version of the documentation. Switch to the
    <a href="{{#if page.canonicalUrl}}{{{replace page.canonicalUrl page.version page.component.latest.version}}}{{else}}{{site.url}}/{{page.component.latest.name}}/{{page.component.latest.version}}{{/if}}">latest version</a>, 
    or use the version selector in the left navigation.</p>
</div>