{{#if page.attributes.info-pills}}
<div class="info-pills-row flex flex-wrap">
    {{#each (info-pills)}}
    <a href="{{link}}" data-l10n-title="{{title}}" class="info-pill align-center flex">
        <span class="info-pill-circle-crop">
            <img src="{{@root.uiRootPath}}/img/icons/{{icon}}" data-l10n-alt="{{alt}}" class="icon-info-pill" />
        </span>
        <span data-l10n-text="{{text}}" class="hide-until-l10n"></span>
    </a>
    {{/each}}
</div>
{{/if}}