{{#if
(or preview (is-one-of (site-profile) 'archive' 'beta')
page.componentVersion.asciidoc.attributes.announcementMessage)
}}
<div class="top-banner banner flex {{#if page.componentVersion.asciidoc.attributes.announcementMessage}}announcement{{/if}}">
  <div class="container wrapper flex justify-center">
    {{#if page.componentVersion.asciidoc.attributes.announcementMessage}}
     <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/important.svg" alt="">
    <p>
      {{page.componentVersion.asciidoc.attributes.announcementMessage}}
    </p>
    {{else}}
      <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/tip.svg" alt="">
    <p>
      You&#8217;re viewing the
      {{#if preview}}
      preview
      {{else if (eq (site-profile) "archive")}}
      archived
      {{else}}
      {{site-profile}}
      {{/if}}
      MuleSoft Documentation.
      <a href="{{#if page.componentVersion.asciidoc.attributes.primary-site-url}}{{page.componentVersion.asciidoc.attributes.primary-site-url}}{{else}}https://docs.mulesoft.com{{/if}}">Go to the latest MuleSoft documentation.</a>
    </p>
    {{/if}}
  </div>
  <button aria-label="Close banner" class="close-button" title="Close banner"><img loading="lazy" src="{{@root.uiRootPath}}/img/icons/close.svg" alt=""></button>
</div>
{{/if}}