{{#if
(or preview (is-one-of (site-profile) 'archive' 'beta' 'review' ) page.componentVersion.asciidoc.attributes.announcementMessage)
}}
<div class="top-banner flex {{#if page.componentVersion.asciidoc.attributes.announcementMessage}}announcement{{/if}}">
  <div class="container wrapper">
    {{#if page.componentVersion.asciidoc.attributes.announcementMessage}}
    <p class="message">{{page.componentVersion.asciidoc.attributes.announcementMessage}}</p>
    {{else}}
    <p>
      You&#8217;re viewing the
      {{#if preview}}
      preview
      {{else if (eq (site-profile) "archive")}}
      archived
      {{else}}
      {{site-profile}}
      {{/if}}
      MuleSoft Documentation.
      {{#if (eq (site-profile) "archive")}}
      {{#with page.componentVersion.asciidoc.attributes.primary-site-url}}
      <a href="{{{this}}}">Go to the latest MuleSoft documentation.</a>
      {{/with}}
      {{/if}}
    </p>
    {{/if}}
  </div>
  <button aria-label="Close banner" class="top-banner-close-button" title="Close banner">&times;</button>
</div>
{{/if}}
