{{#if page.breadcrumbs}}
<ol class="flex grow align-center breadcrumbs" aria-label="breadcrumbs">
  {{#if (ne page.layout 'home')}}
  <li class="flex align-center li">
    <a href="{{relativize site.homeUrl}}" class="link home-link">
      <svg class="svg" width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
        aria-labelledby="{{mode}}-breadcrumbs-home-icon">
        <title id="{{mode}}-breadcrumbs-home-icon" data-l10n-text="breadcrumbs-home">Homepage</title>
        
        <path fill="var(--steel-1)" fill-rule="evenodd" d="M10.641 2.489a2 2 0 0 1 2.718 0l7 6.48A2 2 0 0 1 21 10.437V20a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-4h-2v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-9.563a2 2 0 0 1 .641-1.468L5 10.437V20h4v-4a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v4h4v-9.563l-7-6.48-7 6.48-1.359-1.468 7-6.48Z" clip-rule="evenodd"/>
      </svg>
    </a>
  </li>
  {{#with page.componentVersion}}
  {{#if (and ./title (not ./root) (not (is-one-of ./title 'Home' 'ホーム')) (ne ./url @root.page.url))}}
  <li class="flex align-center li"><a class="link" href="{{{relativize ./url}}}">{{{./title}}}{{#if (and (not (is-null @root.page.version)) (not (is-one-of @root.page.version 'default' 'latest' 'master' '~')))}} <span class="breadcrumbs-item-version">({{ @root.page.version }})</span>{{/if}}</a></li>
  {{/if}}
  {{/with}}
  {{#each page.breadcrumbs}}
  {{#if (eq ./urlType 'internal')}}
    {{#if (eq ./url @root.page.url)}}
    <li class="flex align-center li">
      <p>{{{./content}}}{{#if (and (not (is-null @root.page.version)) (not (is-one-of @root.page.version 'default' 'latest' 'master' '~')) (or (eq ./url @root.page.breadcrumbs.0.url) (and (ends-with ./url "index.html"))))}} <span class="breadcrumbs-item-version">({{ @root.page.version }})</span>{{/if}}</p>
    </li>
    {{else if (not ./root)}}
    <li class="flex align-center li"><a class="link" href="{{{relativize ./url}}}">{{{./content}}}</a></li>
    {{/if}}
  {{/if}}
  {{/each}}
{{/if}}
</ol>
{{else}}
<ol class="flex grow align-center"></ol>
{{/if}}
